*{
    margin: 0 auto;
}

.main{
    display: flex;
    justify-content: center;
    flex-direction: column;
}

.container{
 
    display: flex;
    justify-content: center;

}

.role{
    background-color: #D6EAF8;
    color: black;
    padding-bottom: 10px;
}
.role h1{
    text-align: center;

}
.content{

    display: flex;
    flex-direction: column;
    width: 100%;

}

.skills{
    
    background-color: #D6EAF8;
    color: black;
    width: 100%;
}

.summary,.WE{
    
    background-color: #D6EAF8;
    color: black;
    width: 100%;
}


form{
    background-color: #D6EAF8;
    color: black;
    width: 100%;
}



h2{
    color: rgb(15, 144, 62);
    align-content: center;
    }
    h3{
        color: rgb(226, 162, 43);
        align-content: center;
        }

       @media (min-width: 140px) and (max-width: 480px) and (orientation: portrait){
         .main{
            display: flex;
            flex-direction: column;
         }
         .container{
            display: flex;
            flex-direction: column;
         }

         @media (min-width: 140px) and (max-width: 480px) and (orientation: landscape){
            .main{
               display: flex;
               flex-direction: column;
            }
            .container{
               display: flex;
               flex-direction: row;
            }

       }
       @media (min-width: 481px) and (max-width:1290px)and (orientation: portrait){
        .main{
            display: flex;
            flex-direction: column;
        }
        .container{
            display: flex;
            flex-direction: column;
        }
       }

       @media (min-width: 481px) and (max-width:1290px){
        .main{
            display: flex;
            flex-direction: column;
        }
        .container{
            display: flex;
            flex-direction: row;
        }
       }


